body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
}

#fileInput {
  display: none;
}

h2 {
  color: #ad1847;
}
/* Upload button styles */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
}

.btn {
  border: 1px dashed #ad1847;
  color: gray;
  background-color: white;
  padding: 20px; /* Set padding to increase button size */
  border-radius: 10px; /* Set border-radius for rounded corners */
  width: 250px; /* Set width */
  height: 200px; /* Set height */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#mergeBtn {
  margin-top: 20px;
  border: 2px solid #ad1847;
  color: #fff;
  background-color: #ad1847;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
}

#mergeBtn:hover {
  background-color: #46081b;
  color: #fff;
  border-color: #46081b;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e0e1ebfb;
  text-align: center;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: cornflowerblue;
}
